# Práctica 2: Leyendo datos desde el teclado y manejo de errores

Se creará un programa que cumpla con los requisitos mencionados a continuación:
1. Debe aceptar tres variables de entrada numérica introducida por el usuario desde el teclado (a,b,c)
2. Debe imprimir en pantalla una tabla similar a la siguiente:

a,b,c  5,2,10
a+b+c  17
a*b*c  -7
a*b/c  100

## 1- Entrada de datos desde el teclado

In [34]:
a = input("Introduce el valor de a: ")
b = input("Introduce el valor de b: ")
c = input("Introduce el valor de c: ")

## 2- Realizar los calculos correspondientes

In [35]:
a = float(a)
b = float(b)
c = float(c)

In [40]:
suma = a + b + c

In [41]:
multipl = a * b * c

In [43]:
multipl_div = a * b / c

### 2.1 Corregir el error

In [37]:
type(a)
type(b)
type(c)

float

### Nota: Aunque hemos almacenado un número en las variables a, b y c, python está interpretando que son cadenas de texto (string o str). Pues, si solamente utilizamos la función "input" python interpreta que el contenido es de tipo cadena de texto, por lo que, debemos especificar si es un dato numérico de tipo entero "int" o flotante "float" al ingresar la variable. Además, si nos fijamos en la suma lo que se está realizando es una concatenación, pues los datos como dijimos son de tipo cadenas de textos

In [38]:
## Ejemplo de que se está concatenando en vez de sumar
print(suma)

26.099999999999998

In [44]:
print(multipl)

591.811

In [45]:
print(multipl_div)

13.183582089552239

## Convirtiendo las variables de cadenas de texto a numéricas: Después de la sección 2- Realizar los calculos correspondientes, se introducira el tipo de variable llamado "float" que cambiara las variables a numéricas. Ejemplo: float(a), float(b), float(c)